
*{
    margin: 0px;
    padding: 0px;
}
.page-icon{
    margin-left: 15px;
    margin-top: 16px;
}
.page-name{
    color: #69cc17;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.footer{
    height:55px;
    bottom: 0 !important;
    position: absolute;
    width: 100%;
    text-align: left;
    
    background: transparent ;
}
.footer-text{
    line-height: 40px;
    margin-left: 20px;
    color: #000;
}
.page-body{
    width: "100%";
    
    
}
.page-heading{
    color: black;
    padding: 100px;
    padding-bottom: 40px;
    margin-left: 750px;
}
.page-label{
    padding:20px;
    margin-left: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
.import-page-link{
    color: #000000;

}
.page-link-div
{
   
    padding:50px;
    margin-left:690px;
}
.page-table{
    padding: 20px;
   margin-left: 350px;
   width: 1000px;
   height: 300px;
 margin-top: 100px;
}
#tbl-button{
    width:60px;
    
}
body{
    height: 100vh;
    background: url("../images/page-bg1.jpg");
     background-size: cover;
    background-position: center;
    overflow: hidden;
}
.managecmp-page-table{
    margin-left: 250px;
    margin-top: 40px;
  
    height: 90px !important;
}
table.managecmp-page-table td
{
    width: 200px !important;
     
}
.material-icons{
    margin-left: 1400px;
}
.generate-btn{
    margin-left: 900px;
}
.navbar{
    background: transparent !important;
}
.body{
    background: url("../images/page-bg1.jpg");
    background-size: cover;
    background-position: center;
}
.navbar-brand{
    text-decoration: none;
    color: black;
}
.nav-link{
    text-decoration: none;
    color: black;
    
}
a :active{
    color:black;
}
.managecmp-page-table td{
	padding-top: .5em;
	padding-bottom: .5em;
}